<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hijibiji</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="grid__container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Hijibiji</a>
        </div>
        <div class="header-links">
          <a class="cart.html">Cart</a>
          <a class="Signin.html">Sign In</a>
        </div>
      </header>
      <main class="main">
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/one.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Vintage T-shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/five.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Blue suit</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$190</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/two.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Ash suit</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$110</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/three.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Red print shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$80</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/four.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>White T-shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$40</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/six.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Black T-shirt</h1>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$80</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">All rights reserved</footer>
    </div>
  </body>
</html>
